.header {
  position: fixed;
  padding: 30px 30px 30px;
  width: 100%;
  z-index: 5;
}

.header__nav {
  position: relative;
  display: grid;
  grid-template-columns: min-content  1fr;
  grid-template-rows: 30px;
  align-items: center;
  z-index: 1;
}

.header__logo {
  font-size: 18px;
  line-height: 18px;
  font-family: @font-family-secondary;
  z-index: 2;
  font-family: "Untl";
  letter-spacing: -0.020em;
}

.header__button {
  position: relative;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
  letter-spacing: -0.020em;
}

.header__button-span {
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  line-height: 18px;
  transition-duration: 0.6s;
  font-family: "Untl";

  &--nav {
    transform: translate3d(50%, 0, 0);
    opacity: 1;
  }

  &--close {
    transform: translate3d(-200%, 0, 0);
    opacity: 0;
  }

  &--nav-mod {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  &--close-mod {
    transform: translate3d(-50%, 0, 0);
    opacity: 0;
  }
}

.header__button-theme {
  grid-column-start: 2;
  text-align: end;
  align-items: flex-start;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.020em;
  z-index: 2;
  font-family: "Untl";
}

.header__list-main {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 5%;
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  padding: 20% 30px;
  z-index: 1;
  opacity: 0;
  will-change: transform;
  animation-name: lift-down;
  animation-duration: 0.6s;
  transition-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.7, 0.8, 0, 1);

  &--open {
    opacity: 1;
    animation-name: lift-up;

    & .header__item-main:nth-child(1) {
      animation-name: lift-up;
    }

    & .header__item-main:nth-child(2) {
      animation-name: lift-up;
      animation-delay: 76ms;
    }

    & .header__item-main:nth-child(3) {
      animation-name: lift-up;
      animation-delay: 157ms;
    }
  }
}

.header__item-main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  animation-name: lift-down;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;

  &:nth-child(1) {
    align-items: flex-end;
  }

  &:nth-child(3) {
    align-items: flex-start;
  }
}

@keyframes lift-up {
  from {
    transform: translate3d(120%, 0, 0);
  }

  to {
    transform: translate3d(0);
  }
}

@keyframes lift-down {
  from {
    transform: translate3d(0);
  }

  to {
    transform: translate3d(120%, 0, 0);
  }
}

.header__list {
  display: flex;
  flex-flow: column;
  align-items: flex-end;

  &--one-list {

    & .header__item {
      padding: 10px 0;
    }
  }

  &--two-list {
    flex-flow: row wrap;
    justify-content: flex-end;

    & .header__item {
      margin: 0 0 15px 15px;
    }

    & .header__link {
      font-size: 18px;
      line-height: 18px;
      color: inherit;
      letter-spacing: -0.020em;
      font-family: "Untl";
    }
  }
}

.header__link {
  font-size: 3em;
  line-height: 45px;
}

.header__link-button {
  font-size: 18px;
  line-height: 18px;
  color: inherit;
}


.skills {
  padding: 30px;
}

.intro {
  position: relative;
  overflow: hidden;
  padding-bottom: 30px;
}

.intro__title {
  font-family: "oggr";
  font-size: 6rem;
  line-height: 85px;
  margin-bottom: 30px;
  font-weight: 300;
  text-align: center;
  padding: 30px 0;
  letter-spacing: -5.0px;
  user-select: none;
}

.intro__desc {
  font-family: "Untr";
  font-size: 18px;
  line-height: 28px;
  color: rgb(134 134 139);
  padding: 0 30px;
}

.intro__photo {
  width: 100%;
  margin-bottom: 20px;
  padding: 0 30px;
}

.skills__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}

.skills__item {
  padding: 5px 0;
}

.skills__desc {
  font-family: @font-family-secondary;
  font-size: 20px;
  line-height: 32px;
  color: rgb(134 134 139);
}
