.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  padding: 30px 30px 20px;
}

.header__nav {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 50px 50px auto;
  align-items: center;
}

.header__logo {
  font-size: 24px;
  font-family: @font-family-secondary;
  line-height: 24px;
  font-weight: 700;
  width: 100px;
  letter-spacing: 0.040em;
  padding: 10px 0;
  z-index: 1;
}

.main-nav__toggle {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  letter-spacing: 0.040em;
  transition-duration: 0.8s;
  color: black;
  padding: 10px 0;
  z-index: 1;
}

.dropdown-menu__button {
  font-family: @font-family-secondary;
  position: relative;
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  line-height: 20px;
  transition-duration: 0.5s;
}

.dropdown-menu__button--open {
  transform: translateX(50%);
  opacity: 1;
}

.dropdown-menu__button--close {
  transform: translateX(-200%);
  opacity: 0;
}

.dropdown-menu__button--open1 {
  transform: translateX(0);
  opacity: 1;
}

.dropdown-menu__button--close1 {
  transform: translateX(-50%);
  opacity: 0;
}

.header__wrap-list {
  display: flex;
  flex-direction: row-reverse;
  background-color: black;
  position: fixed;
  opacity: 0;
  transition-duration: 2s;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 30px;
  animation-name: lift-down;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.7, 0.8, 0, 1);
}

.header__list--open {
  opacity: 1;
  animation-name: lift-up;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.7, 0.8, 0, 1);
}


.header__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
  border-bottom: 1.5px solid black;
}

/*

.header__list--anim {
  animation-name: lift-up;
  animation-duration: 0.5s;
}
*/
@keyframes lift-up {
  from {
    transform: translateX(120%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes lift-down {
  from {
    transform: translateX(0);
  }
  100% {
    transform: translateX(120%);
  }
}


.header__item {
  padding: 10px 0;
}

.header__link {
  font-size: 34px;
  line-height: 50px;
  font-family: @font-family-secondary;
  transition-duration: 0.8s;
}

.intro,
.skills {
  padding: 0 30px 30px;
}

.intro__title {
  position: relative;
  font-family: @font-family-secondary;
  font-size: 50px;
  line-height: 65px;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
  border-bottom: 1.5px solid black;
  padding: 30px 0;
  letter-spacing: 0.040em;
}

.intro__desc {
  font-family: @font-family-secondary;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.040em;
}

.intro__photo {
  width: 100%;
  margin-bottom: 20px;
}

.skills__title {
  font-size: 24px;
  font-family: @font-family-secondary;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.040em;
  margin-bottom: 15px;
}

.skills__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skills__item {
  padding: 5px 0;
}

.skills__desc {
  font-family: @font-family-secondary;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.040em;
}

.header__button {
  grid-column-start: 2;
  text-align: end;
  font-size: 24px;
  line-height: 24px;
  font-family: @font-family-secondary;
  transition-duration: 0.8s;
  color: black;
  padding: 10px 0;
  z-index: 1;
}
