.index-page {
  position: relative;
  min-width: 320px;
  font-family: @font-family-secondary;
  font-size: @font-size-primary;
  line-height: @line-height-primary;
  font-weight: 400;
  font-style: normal;
  color: black;
  background-color: white;
  overflow: hidden;
  transition-duration: 0.8s;
}

.index-main {
  padding-top: 150px;
}

.dark {
  color: white;
  background-color: #0f0f0f;
}

.dark__button {
  color: white;
}

.dark__border {
  border-bottom: 1.5px solid white;
}
